<%- include('header') -%>
<div class="loginButton">
  <a href="/login" class="hrefButton">Innskrá</a>
</div>
<h1>Undir&shy;skriftar&shy;listi</h1>

<%- include('form') -%>

<%- include('list') -%>

<%- include('footer') -%>
