
<section>
  <h2>Undirskriftir</h2>
  <div class="registration">
    <% if (registrations.length === 0) { %>
      <p>Engar undirskriftir.</p>
    <% } else { %>
      <table>
        <tr>
          <th>Dags</th>
          <th>Nafn</th>
          <th>Athugasemd</th>
        </tr>
        <% registrations.forEach((row) => { %>
          <tr>
            <td class="date"><%= formatDate(row.signed) %></td>
            <td class="name"><%= row.anonymous ? 'Nafnlaust' : row.name %></td>
            <td class="comment"><%= row.comment %></td>
          </tr>
        <% }) %>
        </tr>
      </table>
    <% } %>
  </div>
</section>
